body {
	margin: 0;
	padding: 0;
	
}

#container {
	width: 960px;
	margin-top: -40px;
	margin: 0 auto;
	padding: 20px 20px;
	-webkit-box-shadow: 0px 0px 3px 5px #ccc;
	-moz-box-shadow: 0px 0px 3px 5px #ccc;
	box-shadow: 0px 0px 3px 5px #ccc; 
	min-height: 1600px;
}
.right {
	float: right;
}